[submodule "tree-sitter-javascript"]
	path = tree-sitter-javascript
	url = https://github.com/guillaumebrunerie/tree-sitter-javascript
[submodule "tree-sitter-typescript"]
	path = tree-sitter-typescript
	url = https://github.com/guillaumebrunerie/tree-sitter-typescript
